#app {
  padding: 1rem;
}

header {
  margin: 1rem 0;
}

header img {
  display: inline;
  height: 2rem;
  margin-right: .5rem;
}

header h1 {
  display: inline;
  font-size: 2rem;
  line-height: 2rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
